   <!-- <footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="brand">
                <h2 class="logo">HEALWELL</h2>
                <p class="tagline">
                    Golden Years Connect: Empowering Seniors, Enriching Lives Together
                </p>
            </div>
            <div class="newsletter">
                <h4>Subscribe to our newsletter</h4>
                <form>
                    <input type="email" placeholder="Enter email address" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>

        <hr>

        <div class="footer-bottom">
            <div class="footer-section">
                <h4>Quick Link</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>CMS Pages</h4>
                <ul>
                    <li><a href="#">Service Details</a></li>
                    <li><a href="#">Team Details</a></li>
                    <li><a href="#">Blog Details</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Utility Pages</h4>
                <ul>
                    <li><a href="#">404 not found</a></li>
                    <li><a href="#">Style guide</a></li>
                    <li><a href="#">Licenses</a></li>
                    <li><a href="#">Changelog</a></li>
                </ul>
            </div>

            <div class="footer-section contact">
                <h4>Contact</h4>
                <p>contactgmail.com</p>
                <p>(316) 555-0116</p>
                <p>1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
            </div>
        </div>

        <div class="copyright">
            <p style="position: relative; top: 8vh;">
                Copyright © Eldero | Designed by Harsh Upadhyay | Powered by - Webflow
            </p>
        </div>
    </div>
</footer> -->

<footer class="py-1">
    <div class="container-fluid max-width-1600 text-center">
        <ul>
            <!-- <li>&copy; 2025 Comcast All Rights Reserved</li>
            <li *ngFor="let item of footerLinks">
                <a (click)="onNavigate(item)">
                    <font>
                        <mat-icon>{{item.webIcon}}</mat-icon>
                    </font>
                    <span>{{item.title}}</span>
                </a>
            </li> -->
            <li>Copyright © Eldero | Designed by Harsh Upadhyay | Powered by - Webflow</li>
        </ul>
    </div>
</footer>