<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointment Request Form</title>
</head>
<body>

    <div class="appointment-form">
        <h2>Doctor Appointment Request Form</h2>
        <p>Fill the form below and we will get back to you for confirmation.</p>
        
        <form id="appointmentForm">
            <label>Patients Name:</label>
            <input type="text" placeholder="Patient's Name" required>

            <!-- DOB Selection -->
            <label>Gender:</label>
            <select required>
                <option value="">Please Select</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>

            <label>Phone Number:</label>
            <input type="tel" placeholder="(000) 000-0000" required>

            <label>Email:</label>
            <input type="email" placeholder="ex: myname@example.com" required>


            <label for="appointment-procedure">Select Preferred Docter: </label>
            <select id="appointment-procedure" required>
                <option value="" disabled selected>Please Select</option>
                <option *ngFor="let doc of doctorsList" [value]="doc._id">{{doc.name}} ({{doc.specialty}})</option>
                <!-- <option value="neurologist">Dr. Arun Mehta (Neurologist)</option>
                <option value="gastroenterologist">Dr. Vishal Patel (Gastroenterologist)</option>
                <option value="gynecologist">Dr. Anjali Rao (Gynecologist)</option> -->
            </select>

            <label for="appointment-procedure">Appointment Type: </label>
            <select id="appointment-procedure" required>
                <option value="physical">In-Person</option>
                <option value="Virtual">Virtual</option>
            </select>

            <label>Preferred Appointment Date:</label>
            <input type="date" id="appointment-date" required>
            <!-- Time Slot Selection -->
<label>Available Time Slots:</label>
<div class="time-slots">
  <button *ngFor="let time of ['19:30', '20:00', '20:30', '21:00', '21:30', '22:00']"
          [class.active]="selectedTime === time"
          (click)="selectTime(time)">
    {{ time }}
  </button>
</div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>

</body>
</html>
