
<div class="ml-2 mr-2 mt-4">

  <div class="search-container mb-5">
    <mat-label>Search with patient name: </mat-label>
    <input matInput type="text" name="searchText" (keyup)="applyFilter($event)" placeholder="">
  </div>  
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Patient ID Column -->
      <!-- <ng-container matColumnDef="patientId">
        <th mat-header-cell *matHeaderCellDef> Patient ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container> -->
    
      <!-- Patient Name Column -->
      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef> Patient Name </th>
        <td mat-cell *matCellDef="let element"> {{element.patientId.name}} </td>
      </ng-container>
    
      <!-- Doctor Name Column -->
      <ng-container matColumnDef="doctorName">
        <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
        <td mat-cell *matCellDef="let element"> {{element.doctorId.name}} </td>
      </ng-container>
    
      <!-- Reason Column -->
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
      </ng-container>
    
      <!-- Appointment Date Column -->
      <ng-container matColumnDef="appointmentDate">
        <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
        <td mat-cell *matCellDef="let element"> {{element.appointmentDate}} </td>
      </ng-container>
    
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" class="approve-btn" (click)="approveAppointment(element)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="reject-btn" (click)="rejectAppointment(element)">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
</div>
  
