<!-- <div class="container">

  <div class="box">
    <div class="group">
      <div class="overlap-group">
        <div class="text-wrapper">Blood Pressure</div>
        <div class="div">In the norm</div>
        <div class="text-wrapper-2">mm/hg</div>
        <div class="text-wrapper-3">120/89</div>
        <div class="text-wrapper-4">Heart Rate</div>
        <div class="text-wrapper-5">Above the norm</div>
        <div class="overlap">
          <div class="text-wrapper-6">BPM</div>
          <div class="text-wrapper-7">120</div>
        </div>
        <div class="text-wrapper-8">Blood Sugar</div>
        <div class="text-wrapper-9">In the norm</div>
        <div class="text-wrapper-10">mg/dl</div>
        <div class="text-wrapper-12">97</div>
        <div class="text-wrapper-13">Cholesterol</div>
        <div class="text-wrapper-14">In the norm</div>
        <div class="text-wrapper-15">85</div>
      </div>
    </div>
  </div>

  <table class="prescription-table">
    <thead>
      <tr>
        <th>Prescription_No</th>
        <th>Date</th>
        <th>Doctor Name</th>
        <th>Diagnosis</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prescription of prescriptions">
        <td>{{ prescription.prescriptionNo }}</td>
        <td>{{ prescription.date }}</td>
        <td>{{ prescription.doctorName }}</td>
        <td>{{ prescription.diagnosis }}</td>
        <td class="actions">
          <i class="fa fa-eye"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


<div class="container mt-4">
  <!-- Health Status Card -->
  <mat-card class="p-3">
    <!-- <h5 class="text-primary">Health Status</h5>
    <mat-divider></mat-divider> -->

    <div class="row text-center mt-3">
      <div class="col-md-3" *ngFor="let vitalStatus of vitalStats">
        <h5>{{vitalStatus.title}}</h5>
        <div class="d-flex align-items-center">
          <h2 class="text-primary m-0">{{vitalStatus.value}}</h2>
          <h5 class="text-muted m-0">{{vitalStatus.unit}}</h5>
        </div>
        <h5 class="text-success" [ngStyle]="vitalStatus.statusClass=='normal'? {'color':'green'}: {'color':'red'}">
          {{vitalStatus.status}}</h5>
      </div>
    </div>
  </mat-card>

  <!-- Prescription Table -->
  <mat-card class="mt-4 p-3">
    <h5 class="text-primary">Prescription History</h5>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" class="table table-hover mt-3">
      <!-- Prescription No -->
      <ng-container matColumnDef="prescriptionNo">
        <th mat-header-cell *matHeaderCellDef> Prescription No </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.prescriptionNumber }} </td>
      </ng-container>

      <!-- Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.startDate }} </td>
      </ng-container>

      <!-- Doctor Name -->
      <ng-container matColumnDef="doctorName">
        <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.doctorName }} </td>
      </ng-container>

      <!-- Diagnosis -->
      <ng-container matColumnDef="diagnosis">
        <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.diagnosis }} </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let prescription">
          <button mat-icon-button matTooltip="View Details" (click)="goToPrescptDetails(prescription)">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>