<!-- prescription-list.component.html -->
<!-- <div class="list">
  
    <h2>My Prescriptions</h2>
    <ul>
      <li *ngFor="let prescription of prescriptions">
        <p>Patient Name: {{ prescription.patientName}}</p>
        <p>Docter Name: {{ prescription.docterName}}</p>
        <p>Medicine1 Name:{{ prescription.medicine1}}</p>
        <p>Schedule: Morning: {{ prescription.schedule.morning ? 'Yes' : 'No' }}</p>
        <p>Schedule: Morning: {{ prescription.schedule.afternoon ? 'Yes' : 'No' }}</p>
        <p>Schedule: Morning: {{ prescription.schedule.night ? 'Yes' : 'No' }}</p>
        <p>Medicine2 Name:{{ prescription.medicine2}}</p>
        <p>Schedule: Morning: {{ prescription.schedule.morning ? 'Yes' : 'No' }}</p>
        <p>Schedule: Morning: {{ prescription.schedule.afternoon ? 'Yes' : 'No' }}</p>
        <p>Schedule: Morning: {{ prescription.schedule.night ? 'Yes' : 'No' }}</p>
      </li>
    </ul>
  </div> -->

  <div class="box">
    <div class="group">
      <div class="overlap-group">
        <div class="text-wrapper">Blood Pressure</div>
        <div class="div">In the norm</div>
        <div class="text-wrapper-2">mm/hg</div>
        <div class="text-wrapper-3">120/89</div>
        <div class="text-wrapper-4">Heart Rate</div>
        <div class="text-wrapper-5">Above the norm</div>
        <div class="overlap">
          <div class="text-wrapper-6">BPM</div>
          <div class="text-wrapper-7">120</div>
        </div>
        <div class="text-wrapper-8">Blood Sugar</div>
        <div class="text-wrapper-9">In the norm</div>
        <div class="text-wrapper-10">mg/dl</div>
        <div class="text-wrapper-12">97</div>
        <div class="text-wrapper-13">Cholesterol</div>
        <div class="text-wrapper-14">In the norm</div>
        <div class="text-wrapper-15">85</div>
      </div>
    </div>
  </div>

  <table class="prescription-table">
    <thead>
      <tr>
        <th>Prescription_No</th>
        <th>Date</th>
        <th>Doctor Name</th>
        <th>Diagnosis</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prescription of prescriptions">
        <td>{{ prescription.prescriptionNo }}</td>
        <td>{{ prescription.date }}</td>
        <td>{{ prescription.doctorName }}</td>
        <td>{{ prescription.diagnosis }}</td>
        <td class="actions">
          <i class="fa fa-eye"></i>
        </td>
      </tr>
    </tbody>
  </table>
  
  