/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100%;
}
@font-face {
    font-family: 'Kalnia';
    src: url('./assets/styles/Kalnia-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.p-0{
    padding: 0;
}

.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.m-0{
    margin: 0;
}